{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme configurationForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <img src="{{ asset('../modules/newsman/views/img/logo.png') }}" alt="Newsman" width="167" height="27">
        </div>
        <span class="badge badge-success bg-success">v{{ moduleVersion }}</span>
    </div>

    <div class="card-body">
        {{ form_start(configurationForm, {'attr': {'class': 'form'}}) }}

        <h4 class="mt-4">{{ 'Account'|trans({}, 'Modules.Newsman.Admin') }}</h4>
        <hr>

        <div class="form-wrapper">
            {{ form_row(configurationForm.active) }}
            {{ form_row(configurationForm.user_id) }}
            {{ form_row(configurationForm.api_key) }}
        </div>

        {% if isConnected %}
        <div class="form-group row mb-3">
            <label class="form-control-label"></label>
            <div class="col-sm" style="color: #40826D;"><strong>&#9679; {{ 'Connected to Newsman.'|trans({}, 'Modules.Newsman.Admin') }}</strong></div>
        </div>
        {% else %}
        <div class="form-group row mb-3">
            <label class="form-control-label"></label>
            <div class="col-sm" style="color: #D2042D;"><strong>&#9679; {{ 'Could not connect to Newsman. Please check your credentials or try again later (temporary API error).'|trans({}, 'Modules.Newsman.Admin') }}</strong></div>
        </div>
        {% endif %}

        {% if crossGroupInfo is defined and crossGroupInfo is not empty %}
        <div class="alert alert-warning mt-3">
            <strong>{{ 'Multi-Shop Notice'|trans({}, 'Modules.Newsman.Admin') }}:</strong>
            {{ 'The following shops from different Shop Groups are linked to the same Newsman list. This configuration adds complexity that may not be fully resolved in the default version of the Newsman extension.'|trans({}, 'Modules.Newsman.Admin') }}
            <ul class="mb-0 mt-2">
            {% for group in crossGroupInfo %}
                <li><strong>{{ group.group_name }}</strong>: {{ group.shops|join(', ') }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h4 class="mt-4">{{ 'General'|trans({}, 'Modules.Newsman.Admin') }}</h4>
        <hr>

        <div class="form-wrapper">
            {{ form_row(configurationForm.list_id) }}
            {% if isMultistore is defined and isMultistore %}
            <div class="form-group row mb-3">
                <label class="form-control-label"></label>
                <div class="col-sm"><small class="text-muted">{{ 'We recommend assigning a different list to each store.'|trans({}, 'Modules.Newsman.Admin') }}</small></div>
            </div>
            {% endif %}
            {{ form_row(configurationForm.segment_id) }}
            {{ form_row(configurationForm.double_optin) }}
            {{ form_row(configurationForm.send_user_ip) }}
            {{ form_row(configurationForm.server_ip) }}
        </div>

        <h4 class="mt-4">{{ 'Remarketing'|trans({}, 'Modules.Newsman.Admin') }}</h4>
        <hr>

        <div class="form-wrapper">
            {{ form_row(configurationForm.remarketing_status) }}
            {{ form_row(configurationForm.remarketing_id) }}
            <div class="form-group row">
                <div class="form-check form-check-radio form-checkbox" style="visibility: hidden;">
                    <div class="md-checkbox md-checkbox-inline"><label><input type="checkbox" disabled class="form-check-input"><i class="md-checkbox-control"></i></label></div>
                </div>
                <label class="form-control-label">{{ 'Remarketing ID Status'|trans({}, 'Modules.Newsman.Admin') }}</label>
                <div style="padding-top: 7px;" class="col-sm input-container">
                    {% if isRemarketingConnected %}
                    <strong style="color: #40826D;">{{ 'Remarketing ID is valid'|trans({}, 'Modules.Newsman.Admin') }}</strong>
                    {% else %}
                    <strong style="color: #D2042D;">{{ 'Remarketing ID is invalid'|trans({}, 'Modules.Newsman.Admin') }}</strong>
                    {% endif %}
                </div>
            </div>
            {{ form_row(configurationForm.remarketing_anonymize_ip) }}
            {{ form_row(configurationForm.remarketing_send_telephone) }}
        </div>

        <h4 class="mt-4">{{ 'Developer'|trans({}, 'Modules.Newsman.Admin') }}</h4>
        <hr>

        <div class="form-wrapper">
            {{ form_row(configurationForm.log_severity) }}
            {{ form_row(configurationForm.log_clean_days) }}
            {{ form_row(configurationForm.api_timeout) }}
            {{ form_row(configurationForm.dev_active_user_ip) }}
            {{ form_row(configurationForm.dev_user_ip) }}
        </div>

        <h4 class="mt-4">{{ 'Export Authorization'|trans({}, 'Modules.Newsman.Admin') }}</h4>
        <hr>

        <div class="form-wrapper">
            {{ form_row(configurationForm.export_auth_header_name) }}
            {{ form_row(configurationForm.export_auth_header_key) }}
        </div>

        {{ form_rest(configurationForm) }}

        <hr>
        <div class="form-group row">
            <div class="col-md-5 offset-md-3">
                <button type="submit" class="btn btn-primary">
                    {{ 'Save'|trans({}, 'Admin.Actions') }}
                </button>
                <a href="{{ path('newsman_oauth_step1') }}" class="btn btn-outline-warning ml-2 ms-2">
                    {{ 'Reconfigure'|trans({}, 'Modules.Newsman.Admin') }}
                </a>
            </div>
        </div>

        {{ form_end(configurationForm) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            window.prestashop.component.initComponents(['MultistoreConfigField']);
        });
    </script>
{% endblock %}
